<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forestmaker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".ui.home.mileage.MileageActivity"></activity>
        <activity android:name=".ui.reserve.Experience.SelectExperienceDateActivity" />
        <activity android:name=".ui.reserve.Planting.LocationInfoActivity" />
        <activity android:name=".ui.reserve.Planting.ArboretumActivity" />
        <activity android:name=".ui.reserve.Store.ShoppingCartActivity" />
        <activity android:name=".ui.reserve.Experience.SelectExperienceActivity" />
        <activity
            android:name=".ui.reserve.Store.PaymentActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.reserve.Experience.WorkShopActivity" />
        <activity android:name=".ui.reserve.Experience.ExperienceOptionActivity" />
        <activity android:name=".ui.reserve.Experience.ExperienceActivity" />
        <activity android:name=".ui.reserve.Reservation.ReservationInfoActivity" />
        <activity android:name=".ui.mypage.EditProfileActivity" />
        <activity android:name=".ui.reserve.Store.StoreActivity" />
        <activity android:name=".ui.reserve.Planting.SelectPlantingDateActivity" />
        <activity android:name=".ui.reserve.SelectLocationActivity" />
        <activity android:name=".ui.home.MyTreeDetailActivity" />
        <activity android:name=".ui.home.MyTreeActivity" />
        <activity android:name=".ui.OnBoard.OnBoardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Sign.SignUpActivity" />
        <activity android:name=".ui.Sign.SignInActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>