<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.forestmaker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity android:name=".ui.Reserve.Store.PaymentActivity"></activity>
        <activity android:name=".ui.Reserve.Experience.WorkShopActivity" />
        <activity android:name=".ui.Reserve.Store.PopupActivity" />
        <activity android:name=".ui.Reserve.Experience.ExperienceOptionActivity" />
        <activity android:name=".ui.Reserve.Experience.ExperienceActivity" />
        <activity android:name=".ui.Reserve.Reservation.ReservationInfoActivity" />
        <activity android:name=".ui.MyPage.EditProfileActivity" />
        <activity android:name=".ui.Reserve.Store.StoreActivity" />
        <activity android:name=".ui.Reserve.SelectDateActivity" />
        <activity android:name=".ui.Reserve.SelectLocationActivity" />
        <activity android:name=".ui.Home.MyTreeDetailActivity" />
        <activity android:name=".ui.Home.MyTreeActivity" />
        <activity android:name=".ui.OnBoard.OnBoardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Sign.SignUpActivity" />
        <activity android:name=".ui.Sign.SignInActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>